html {
  
}

body {
  font-family: 'Noto Sans TC','Segoe UI',Arial,'Microsoft Jhenghei',sans-serif;
  font-size: 100%;
}

button {
  font-family:'Noto Sans TC', 'Segoe UI',Arial,'Microsoft Jhenghei',sans-serif;
}
