name: Android CI

on:
  push:
    branches:
      - '*'
      - '!master'
      - '!release*'
  pull_request:
    branches:
      - 'master'
      - 'release*'
      - 'dev'    

jobs:
  test:
    name: Run Build Tests
    runs-on: ubuntu-18.04

    steps:
    - uses: actions/checkout@v2
    - name: set up JDK 11
      uses: actions/setup-java@v2
      with:
        java-version: '11'
        distribution: 'temurin'
        cache: gradle

    - name: Grant execute permission for gradlew
      run: chmod +x gradlew
    - name: Set Host
      env:
        HOST: $
      run: echo host=$HOST > ./local.properties
    - name: Spotless Check
      run: bash ./gradlew spotlessCheck    
    - name: Build Test
      run: bash ./gradlew clean assembleStagingDebug
    - name: Unit Test
      run: bash ./gradlew testStagingDebugUnitTest
